@import "tailwindcss";

@theme {
  --font-sans: var(--font-mulish), system-ui, sans-serif;
  --font-mulish: var(--font-mulish), system-ui, sans-serif;

  --color-primary: #1464F4;
  --color-secondary: #92A0B2;
  --color-neutral-light: #D9E1E2;
  --color-bg-dark: #080D1A;
  --color-surface-dark: #0F172A;
}

:root {
  --background: #080d1a;
  --foreground: #f1f5f9;
  --primary: #1464f4;
  --secondary: #92a0b2;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
